body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    font-family: "Montserrat", sans-serif;
}

h1 {
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 16px;
}
button {
    margin: 10px;
    cursor: pointer;
}

label {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

select {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
    min-height: 30px;
    color: rgb(133, 133, 133);
}

form {
    padding: 0;
    margin: 0;
}

#activate-task-btn {
    display: flex;
    width: 15px;
    height: 15px;
    background-image: url("/client/move.png");
    background-size: contain;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

#activate-task-btn:hover {
    width: 17px;
    height: 17px;
}

#active-task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    border-radius: 8px;
    vertical-align: center;
}

#active-task-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active-todo {
    display: flex;
    min-width: 600px;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    border: 1px solid black;
    border-radius: 8px;
}

#active-task-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#active-task-title {
    text-align: center;
    color: rgb(0, 216, 0);

}

#active-project {
    width: 18%;
}

#active-task {
    width: 65%;
}

#active-task-duration {
    display: flex;
    background-color: white;
    border: none;
    text-align: center;
    width: 15px;
}

#active-task-end-btn {
    background-color: red;
    color: white;
    width: 50px;
    height: 25px;
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
    border: 1px solid white;
}

.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#show-progress-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#show-progress-btn, #hide-progress-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    text-align: center;
    font-size: 16px;
    margin-bottom: 3px;
    color: grey;
    font-weight: 900;
}

#show-progress-btn:hover {
    font-size: 16px;
}

.progress-note {
    display: flex;
    width: 625px;
    align-items: center;
    min-height: 36px;
}

#note-text, #progress-duration, #progress-date {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

#note-text {
    width: 75%;
    margin: 10px;
}

#progress-duration {
    width: 10%;
    color: #ad0003;
}

#progress-date {
    display: flex;
    text-align: center;
    width: 15%;
    font-weight: 700;
    font-size: 12px;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
}

#login-title {
    margin-bottom: 15px;
}

#login-username, #login-password {
    width: 75%;
    border-radius: 8px;
    margin: 5px;
    height: 30px;
    border: none;
    outline: 1px solid black;
}

#login-btn {
    border-radius: 8px;
    color: white;
    background-color: #0047AB;
    padding: 10px;
    border: none;
}

#todo-main-container {
    display: flex;
    justify-content: center;
}

#add-todo-btn {
    margin: 5px;
    padding: 0;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #0047AB;
    color: white;
    width: 600px;
    height: 36px;
    font-size: 24px;
}

#submit-new-todo-btn, #submit-edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    padding: 5px;
    margin: 0;
    border: none;
    font-size: 24px;
    text-align: center;
    background-color: #0047AB;
    width: 28px;
    height: 28px;
    margin-left: 5px;

}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

#todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    border-radius: 8px;
}

#completed-todos, #completed-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
}

.completed-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    min-height: 36px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
}

#completed-project {
    margin: 0;
    padding: 0;
    width: 20%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 15px;
    margin-left: 5px;
}

#todo-date {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: rgb(133, 133, 133);
    margin-right: 2px;
    margin-left: 1px;
}
#completed-task, #active-task {
    margin: 0;
    padding: 0;
    width: 65%;
    font-size: 15px;
}

#completed-btns {
    width: 10%;
    justify-content: right;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding-top: 15px;
    border-radius: 8px;
    width: 650px;
    min-height: 36px;
}

#todo-main {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#todo-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    width: 650px;
    align-items: center;
}

#todo-project {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 18%;
}

#todo-priority {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 2px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

#todo-priority:hover {
    background-color: lime;
}

#todo-task {
    display: flex;
    margin: 0;
    padding: 0;
    vertical-align: center;
    text-align: left;
    font-size: 15px;
    margin-left: 15px;
    width: 65%;
    overflow-wrap: break-word;
}

.time-spent {
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
    color: #ad0003;
}

#completed-time-spent {
    font-size: 14px;
    font-style: italic;
    margin-left: 25px;
    color: rgb(0, 143, 0);
}

#task-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#todo-btn-menu {
    display: flex;
    align-items: center;
    justify-content: right;
}

#todo-complete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border: none;
    color: blue;
    font-size: 25px;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-left: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

#todo-complete:hover {
    color: lime;
}

#todo-edit {
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    cursor: pointer;
}

#todo-edit:hover {
    color: #BC13FE;
}

#completed-btn-menu, #active-btn-menu {
    display: flex;
    margin-left: 4px;
}

#todo-revert-btn {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    background-image: url("/client/undo.png");
    background-size: contain;
    background-color: white;
    border: none;
    cursor: pointer;
}

#todo-revert:hover {
    height: 16px;
    width: 16px;
}

#todo-delete, #delete-progress-btn {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-image: url("/client/delete.png");
    background-size: contain;
    border: none;
    cursor: pointer;
}

#todo-delete:hover{
    width: 16px;
    height: 16px;
}

#add-todo-form, #edit-todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: 1px solid black;
    border-radius: 8px;
    width: 590px;
    padding: 5px;
}

#project {
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    font-size: 14px;
    border-radius: 5px;
}

#task {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    width: 65%;
    min-height: 18px;
    border-radius: 5px;
}

option {
    border-radius: 5px;
    justify-content: center;
}

#today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}