<div class="active-todo" id="active-todo-{{todo_id}}" value="{{todo_id}}">
    {% if task_priority == 1 -%}
        <div id="todo-priority" style="background-color: blue;"></div>
    {% else if task_priority == 2 -%}
        <div id="todo-priority" style="background-color: yellow;"></div>
    {% else -%}
        <div id="todo-priority" style="background-color: red;"></div>
    {%- endif %}
    <h5 id="active-project">{{project}}</h5>
    <p id="active-task">{{task}}</p>
    <div id="active-btn-menu">
        <form id="active-task-form">
            <input name="id" value="{{todo_id}}" style="display: none;">
            <input id="active-task-duration" type="text" name="duration" value="0" readonly>
            <p> min</p>
            <button id="active-task-end-btn" hx-patch="/todos/deactivate" hx-ext="json-enc" hx-target="#todo-title" hx-swap="afterend">STOP</button> 
        </form>
    </div>

    <div style="display: none;" data-todo-id="{{todo_id}}"></div>
</div>

<div id="todo-{{todo_id}}" hx-swap-oob="delete"></div>